# Prerequisites
*.d

# Object files
#*.o

AlgLib/libcom/*.o
AlgLib/libnet/*.o
AlgLib/libmanovra/*.o
AlgLib/libwidget/*.o
AlgLib/libipc/*.o
AlgLib/libsim/*.o
AlgLib/libutil/*.o
AlgLib/libutilx/*.o
AlgLib/libdispatcher/*.o
AlgLib/libdispatcher/*.o
AlgLib/Rt/*.o

Alg_legopc/src/c_files/*.o

Alg_rt/grafica/xstaz/*.o
Alg_rt/grafica/xaing/*.o
Alg_rt/grafica/compstaz/*.o
Alg_rt/net_simula/viewval/*.o
Alg_rt/net_simula/net_prova/*.o
Alg_rt/net_simula/dataserver/*.o
Alg_rt/net_simula/net_prepf22_circ/*.o
Alg_rt/net_simula/net_sked/cad_sked_o/*.o
Alg_rt/net_simula/net_sked/net_sked_o/*.o
Alg_rt/net_simula/net_updbase/*.o
Alg_rt/net_simula/malfunzioni/*.o
Alg_rt/net_simula/new_monit/*.o
Alg_rt/net_simula/net_disp/*.o
Alg_rt/net_simula/net_clean/*.o
Alg_rt/net_simula/net_demone/*.o
Alg_rt/net_simula/mandb/*.o
Alg_rt/net_simula/net_compi/*.o
Alg_rt/net_simula/newsess/*.o
Alg_rt/net_simula/rest_sess/*.o
Alg_rt/net_simula/net_net/*.o
Alg_rt/net_simula/net_monit/cad_monit_o/*.o

Alg_mmi/lib/Xl/*.o
Alg_mmi/lib/Xl/SourceGrafica/*.o
Alg_mmi/lib/Xl/*.o
Alg_mmi/lib/Cs/*.o
Alg_mmi/lib/Ol/*.o
Alg_mmi/lib/Xd/*.o
Alg_mmi/forms/*.o
Alg_mmi/draw/*.o
Alg_mmi/regolazione/*.o
Alg_mmi/conv_staz/*.o

Alg_mmi/config/*.o
Alg_mmi/client_server/*.o
Alg_mmi/run_time/*.o
Alg_mmi/utilities/*.o

legocad/autodoc/*.o
legocad/bitmap/*.o
legocad/calcstaz/*.o
legocad/dati_legocad/*.o
legocad/edicole/*.o
legocad/editf01/*.o
legocad/filtri/*.o
legocad/iconvert/*.o
legocad/info/*.o
legocad/know/*.o
legocad/lib/macro/*.o
legocad/librarian/*.o
legocad/main/*.o
legocad/tavole/*.o
legocad/topologia/*.o
legocad/topsim/*.o
legocad/utility/*.o
legocad/lib/macro/macro_dati_obj/*.o
legocad/lib/macro/macro_topol_obj/*.o

util97/utilities/*.o

*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
#*.lib
#*.a
#*.la
#*.lo

# Shared objects (inc. Windows DLLs)
*.dll
#*.so
#*.so.*
*.dylib

# Executables
#*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/

version.h
version.h.tmp

# Gemini CLI
GEMINI.md

#Claude debug
CLAUDE.md
legocad_r_MDC0
