name: Sync Scripts to Gist

on:
  workflow_dispatch:  # Permette esecuzione manuale
  push:
    branches:
      - master
    paths:
      - 'docker/lgdock.sh'
      - 'docker/lgdock_socat.sh'

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Sync lgdock.sh to Gist
        env:
          GH_TOKEN: ${{ secrets.GIST_SECRET }}
        run: |
          gh gist edit d7c030f939f69b07784a309889b8510a docker/lgdock.sh

      - name: Sync lgdock_socat.sh to Gist
        env:
          GH_TOKEN: ${{ secrets.GIST_SECRET }}
        run: |
          gh gist edit 83c887ef78610842508b9f972130d3e1 docker/lgdock_socat.sh

      - name: Sync lgdock_multi.sh to Gist
        env:
          GH_TOKEN: ${{ secrets.GIST_SECRET }}
        run: |
          gh gist edit 85841fc5c6eba4ac860f4f648da4f89b docker/lgdock_multi.sh
